{% extends 'apps/include_base/base.html' %}
{% load humanize %}
{% block body %}
    <main class="client-template">
        <section class="main">

            <div class="container py-3">
                <div class="row align-items-center">
                    <div class="col my-3 pr-3">
                        <h1 class="h4 font-weight-bold mb-0">{{ product.name }}</h1>
                    </div>
                    <div class="col-auto my-3 text-right">
                        <strong class="position-price1">
                            {{ product.price|floatformat:"0"|intcomma }} so'm
                        </strong>
                        <div class="text-warning">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

{#                <form id="orderForm"#}
{#                      data-price="157000"#}
{#                      data-request="onOrder"#}
{#                      data-request-flash=""#}
{#                      data-request-success="#}
{#                $(this).find(&quot;.needclear&quot;).val(&quot;&quot;);#}
{#                fbq(&quot;track&quot;, &quot;Purchase&quot;, {currency: &quot;uzs&quot;, value: $(this).data(&quot;price&quot;) });#}
{#              ">#}

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="owl-carousel owl-theme content_linear_card_body_indicators owl-loaded owl-drag">


                                <div class="owl-stage-outer">
                                    <div class="owl-stage"
                                         style="transform: translate3d(-862px, 0px, 0px); transition: all; width: 3448px;">
                                        <div class="owl-item cloned" style="width: 431px;">
                                            <div class="item">
                                                <img loading="lazy" class=" lazyloaded"
                                                     src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/vwcIfBjeB1d64ojN8paZfGZDimu4b7Uini8uRlZI.jpg.webp"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/vwcIfBjeB1d64ojN8paZfGZDimu4b7Uini8uRlZI.jpg.webp"
                                                     alt="card">
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 431px;">
                                            <div class="item">
                                                <img loading="lazy" class=" lazyloaded"
                                                     src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/SRbBfHwz8l7qtOtLHtfsl5vaHFadOQs3SpbTxhCS.jpg.webp"
                                                     data-src="https://100k.website.yandexcloud.net/resized/1000x1000/products/images/SRbBfHwz8l7qtOtLHtfsl5vaHFadOQs3SpbTxhCS.jpg.webp"
                                                     alt="card">
                                            </div>
                                        </div>
                                        <div class="owl-item active" style="width: 431px;">
                                            <div class="item-video">
                                                <video width="100%" controls="">
                                                    <source src="{{ product.video.url }}"
                                                            type="video/mp4">
                                                    Sizning brovseringiz ushbu videoni oqiy olmaydi
                                                </video>
                                            </div>
                                        </div>
                                        {% for image in product.images.all %}
                                            <div class="owl-item" style="width: 431px;">
                                                <div class="item">
                                                    <img loading="lazy" class=" lazyloaded"
                                                         src="{{ image.image.url }}"
                                                         data-src="{{ image.image.url }}"
                                                         alt="card">
                                                </div>
                                            </div>

                                        {% endfor %}


                                    </div>
                                </div>
                                <div class="owl-nav disabled">
                                    <button type="button" role="presentation" class="owl-prev"><span
                                            aria-label="Previous">‹</span></button>
                                    <button type="button" role="presentation" class="owl-next"><span
                                            aria-label="Next">›</span></button>
                                </div>
                                <div class="owl-dots">
                                    <button role="button" class="owl-dot active"><span></span></button>
                                    <button role="button" class="owl-dot"><span></span></button>
                                    <button role="button" class="owl-dot"><span></span></button>
                                    <button role="button" class="owl-dot"><span></span></button>
                                </div>
                            </div>

                            <div class="productShop d-none d-md-block d-lg-block d-xl-block mt-4">
                                <div class="row align-items-center">
                                    <div class="col-2">
                                        <a href="/store/41"><img
                                                src="https://100k.uz/themes/stock/assets/img/d-avatar.png"
                                                alt="clothes"></a>
                                    </div>
                                    <div class="col pl-3">
                                        <a href="/store/41"> Jonik Xitoy </a>
                                        <div class="text-warning">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a href="/store/41" class="sk-btn sk-btn--hover">Do'konning sahifasi</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 pl-md-4 mb-4">
                            <div class="orderForm sk-form d-flex flex-column justify-content-between"
                                 style="min-height:100%;">
                                <div>
                                    <h2 class="h3 font-weight-bold mb-4"><a href=""> Buyurtma
                                        berish</a></h2>

                                    <p class="mb-3"> Mahsulot narxi: <strong
                                            class="pricetag position-price2">{{ product.price|floatformat:"0"|intcomma }}
                                        so'm</strong></p>

                                    <div class="alert alert-info">
                                        <strong>Yetqazib berish mutlaqo bepul</strong>
                                        tuman markazidagi qabul qilish punktigacha.
                                        To'lovni mahsulotni olgandan so'ng amalga oshirasiz.

                                    </div>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="my-3">
                                        <input type="hidden" name="product" value="{{ product.id }}">
{#                                        <input type="hidden" name="stream_id" value="">#}
{##}
{#                                        <input type="hidden" name="product_item_id" value="2845">#}

                                        <div class="form-group">
                                            <input class="form-control needclear" name="full_name"
                                                   placeholder="Ismingiz" type="text">
                                        </div>

                                        <div class="form-group">
                                            <input class="my-phone-mask form-control needclear" name="phone_number"
                                                   id="customer_phone" placeholder="Telefon raqamingiz" type="text">
                                        </div>

                                        <div >
                                            <div class="form-group">
                                                <select class="form-control" name="region">
                                                    <option value="" selected="selected">Hududni tanlang ⬇</option>
                                                    <option value="toshkent">Toshkent shahri</option>
                                                    <option value="andijon">Andijon</option>
                                                    <option value="buxoro">Buxoro</option>
                                                    <option value="fargona">Fargona</option>
                                                    <option value="jizzax">Jizzax</option>
                                                    <option value="namangan">Namangan</option>
                                                    <option value="navoiy">Navoiy</option>
                                                    <option value="qashqadaryo">Qashqadaryo</option>
                                                    <option value="qoraqalpogiston">Qoraqalpogiston</option>
                                                    <option value="samarqand">Samarqand</option>
                                                    <option value="sirdaryo">Sirdaryo</option>
                                                    <option value="surxondaryo">Surxondaryo</option>
                                                    <option value="toshkentviloyati">Toshkent viloyati</option>
                                                    <option value="xorazm">Xorazm</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="text-center">
                                                    <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 20px;">
                                                        <button class="btn btn-primary" type="submit">Buyurtma berish
                                                        </button>
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#productDescription" class="nav-link active" data-toggle="tab">Batafsil ma'lumot</a>
                    </li>
                    <li class="nav-item">
                        <a href="#productReviews" class="nav-link" data-toggle="tab"> Xaridorlar fikrlari </a>
                    </li>
                </ul>
            </div>
            <div class="productDesc py-5">
                <div class="container px-3">

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="productDescription">
                            <div>{{ product.description }}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="productReviews">
                            <div class="row align-items-center">
                                <div class="col mb-4">
                                    <h2 class="font-weight-bold">Mijozlar tomonidan qoldirilgan izohlar</h2>
                                </div>
                                <div class="col-auto">
                                    <div class="mb-4">
                                        <a href="#" data-toggle="modal" data-target="#exampleModal">Izoh qoldirish</a>
                                    </div>
                                </div>
                            </div>

                            <ul id="productReviewsList" class="commentsList">
                                <p class="text-center text-muted" style="font-size: 19px;"><br><br> Ushbu mahsulotga
                                    izohlar hali qoldirilmagan. </p>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>


        </section>


        <!-- Modal -->
        <form data-request-flash="" data-request="onAddReview"
              data-request-success="$(this).find('input.form-control').val('')"
              data-request-update="'product/reviews-list': '#productReviewsList'" class="modal fade" id="exampleModal"
              tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Izoh qoldirish </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <input type="hidden" name="product_id" value="2710">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Ismingiz</label>
                            <input type="text" name="author" class="form-control" id="exampleInputEmail1"
                                   placeholder="Ismingizni kiriting">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Izohingiz</label>
                            <textarea name="text" placeholder="Izohingizni kiriting" class="form-control"
                                      id="exampleInputPassword1"></textarea>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rating" id="rating5" value="5"
                                       checked="">
                                <label class="form-check-label" for="rating5">
                                    Ajoyib
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rating" id="rating4" value="4">
                                <label class="form-check-label" for="rating4">
                                    Yaxshi
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rating" id="rating3" value="3">
                                <label class="form-check-label" for="rating3">
                                    Qoniqarli
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rating" id="rating2" value="2">
                                <label class="form-check-label" for="rating2">
                                    Yomon
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rating" id="rating1" value="1">
                                <label class="form-check-label" for="rating1">
                                    Juda yomon
                                </label>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                        <button type="submit" class="btn btn-primary">Izoh qoldirish</button>
                    </div>
                </div>
            </div>
        </form>

        <style>
            .form-group .btn-danger {
                background-color: #d8d8d8;
                color: black;
            }

            .position-btn-group {
                row-gap: 10px;
                flex-wrap: wrap;
            }

            .position-btn {
                font-size: 14px;
                padding: 5px;
                background-color: white !important;
                color: #0b2e13 !important;
                border: 1px solid rgba(0, 0, 0, 0.2) !important;
                box-shadow: none !important;
                font-weight: 500;
            }

            .position-btn.active {
                border: 2px solid #0b2e13 !important;
                background-color: #eee !important;
            }


            .siteFooter .container, .topLine {
                display: none;
            }

            /* hide search and center logo on mobile */
            @media (max-width: 767px) {
                .col-logo {
                    flex: 1 0 auto;
                    text-align: center;
                }

                .col-search {
                    display: none !important;
                }
            }

        </style>

    </main>
{% endblock %}