{% extends 'apps/include_base/base.html' %}
{% load humanize %}
{% block body %}
    <main class="client-template">
        <section class="main">

            <div class="container border-bottom-4">
                <div class="header_tab_menu">
                    <div class="header_menu" style="overflow: auto">
                        <a href="{% url 'product-list' %}"
                           class="btn btn-default {% if not request.GET.category %} active {% endif %}"> Barchasi
                        </a>
                        {% for category in categories %}
                            <a
                                    href="{% url 'product-list' %}?category={{ category.slug }}"
                                    class="btn btn-default {% if request.GET.category and request.GET.category == category.slug %} active {% endif %}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <style>
                    .header_menu {
                        padding: 12px;
                    }

                    .header_menu .btn-default {
                        border: 1px solid #ddd;
                        border-radius: 20px;
                        padding: 10px;
                        font-size: 15px;
                    }

                    .header_menu .btn-default.active, .header_menu .btn-default:hover {
                        background-color: #eee;
                    }
                </style>
            </div>

            <div class="container" id="productsList">
                <div class="content_grid">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-sm-3 col-4" style="padding: 1px">
                                <div class="content_grid_card" style="padding: 0px">
                                    <a href="{% url 'product-detail' product.slug %}">
                                        <img loading="lazy" class="lazyloaded"
                                             src="{{ product.images.first.image.url }}"
                                             data-src="{{ product.images.first.image.url }}"
                                             alt="{{ product.name }}">
                                    </a>

                                    <div class="content_grid_card_price">
                                        <p>{{ product.price|floatformat:"0"|intcomma }} so'm</p>
                                        <!-- Mahsulot narxi shu yerda kiritilgan -->
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div style="height: 80vh"></div>
                    </div>
                </div>
            </div>

        </section>
    </main>
{% endblock %}



